<div class="text-center container overflow-hidden">
    <div class="row row-cols-lg-1 gy-3 g-1">
        <div class="p-3 border bg-light">Mail：taiglgb@gmail.com</div>

    </div>
</div>

<hr width="600" size="3" noshade>