<table align="left">
    <tr>
        <td>
            <h4><b>店舗詳細ページです．</b></h4>
        </td>
    </tr>
</table>

<hr width="600" size="3" noshade>

<% @s.each do |a| %>
<table width="1000" align="center" cellpadding="1" style="table-layout: fixed;">
    <tr>
        <td style="word-wrap: break-word;" width="615">
            <b>：店舗名： <font color="#93FFAB"><%= a.name %></font></b></td>
    </tr>
</table>
<% end %>