<button type="button" onclick="getLocation()">現在地取得</button><br>
<table width="1000" align="center" cellpadding="1" style="table-layout: fixed;">
    <tr>
        <td>
            <h4>緯度 <div id="lat"></div>
            </h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>経度 <div id="lon"></div>
            </h4>
        </td>
    </tr>
</table>
<table>
    <tr>
        <div id="status"></div>
    </tr>
</table>

<table>
    <tr>
        <div id="response_text"></div>
    </tr>
</table>
<script>
    let lat = document.getElementById("lat");
    let lon = document.getElementById("lon");
    let response_text = document.getElementById("response_text");
    const status = document.getElementById("status");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            status.textContent = "このブラウザは位置情報に対応していません．";
        }
    };

    function success(position) {
        // response_text.textContent = "";
        status.textContent = "";

        $.ajax({
            type: 'GET',
            // dataType: "jsonp",
            // url: `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&sensor=true&key=&language=en`,
            url: `http://webservice.recruit.co.jp/hotpepper/gourmet/v1/?key=<%= ENV["HOT_PEPPER_API_KEY"]%>&lat=${position.coords.latitude}&lng=${position.coords.longitude}&range=5&format=json`,
        }).then(function (response) {
            console.log(response);
            // const response_json = response.json();
            const data = JSON.parse(response)
            response_text.textContent = data.results.shop[0].name;
            lat.textContent = position.coords.latitude;
            lon.textContent = position.coords.longitude;
        })

    };

    function error(position) {

    };
</script>